/* Cart.css */
.cart {
    margin: 20px;
    padding: 10px;
}

.cart h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.all{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.listt{
    padding-left: 0px;
}
.itemm {
    margin-top: 10px;
    list-style: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    border: 1px solid black;
    width: 900px;
}

.itemss {
    /* margin-top: 51px; */
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}
.itemnamee{
    width: 250px;
}

.counterr ul{
    padding: 0px;
    display: flex;
    gap: 15px;
    justify-content: center;
    /* align-items: center; */
    /* width: 400px; */
}

.button11 {
    display: flex;
    height: 25px;
    width: 70px;
    font-weight: 1000;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.button11:hover {
    background-color:rgb(52, 51, 51);
}
.pricee{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    /* background-color: black;
    color: white; */
    /* width: 250px; */
    height: auto;
    padding: 20px;
    margin: 10px;
    position: absolute;
    right: 17px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: "0 4px 8px rgba(0, 0, 0, 0.1)";
    width: 250px;
    font-weight: 1000;
}

.btn{
    margin-top: 10px;
    width: 120px;

}
.pri{
    width: 140px;
}
.btn1{
    display: flex;
    gap: 5px;
    width: 150px;
}
.btn1 button{
    width: 20px;
    height: 20px;
    font-weight: 600;
    align-items: center;
}

@media (max-width: 768px) {
    .all{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .cart h2 {
      font-size: 20px; /* Adjust heading size for smaller screens */
    }
  
    .itemm {
      flex-direction: column; /* Stack items vertically on smaller screens */
      width: 80%; /* Adjust item width for responsiveness */
      align-items: center;
    }
  
    .itemss {
      flex-direction: column; /* Stack item content vertically */
      justify-content: flex-start; /* Align items at the top */
      align-items: center;
      gap: 10px;
    }
  
    .pricee {
      position: relative; /* Position price below item content */
      top: 20px; /* Adjust price position */
      /* align-items: center; */
    }
    .pri{
        /* display: flex;
        align-content: center; */
        width: auto;
        
    }
    .itemnamee{
        width: auto;
    }
    .btn1{
        width: auto;
    }
  }